
@{
    ViewBag.Title = "Index";
}

<h2>Welcome To Admin Page</h2>

<hr />


<table class="table table-bordered table-responsive table-striped table-hover table-condensed">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">EmailId</th>
            <th scope="col">Password</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Jin@gmail.com</td>
            <td>Jin@1234</td>
            <td>Admin</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Jimin@gmail.com</td>
            <td>Jimin@123</td>
            <td>User</td>
        </tr>

    </tbody>
</table>


